<configuration>
    
  <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    
    <file>/home/excilys/Documents/dev/computerDataBase/log/cdb.log</file>
    
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>/home/excilys/Documents/dev/computerDataBase/log/cdb.%d{yyyy-MM-dd}.log</fileNamePattern>

      <!-- keep 30 days' worth of history capped at 3GB total size -->
      <maxHistory>30</maxHistory>
      <totalSizeCap>3GB</totalSizeCap>

    </rollingPolicy>
    
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [CORE_APP][%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    
  </appender>

  
  <root level="debug">
    <appender-ref ref="RollingFile" />
  </root>
  
</configuration>