<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd" >
	
	<context:component-scan base-package="com.excilys.mlemaile.cdb.persistence" />
	<context:component-scan base-package="com.excilys.mlemaile.cdb.service" />
	
	<bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource">

		<property name="driverClassName" value="org.mariadb.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/computer-database-db?zeroDateTimeBehavior=convertToNull" />
		<property name="username" value="admincdb" />
		<property name="password" value="TJeWkg5equo1mpOIWVUI" />
		<property name="maximumPoolSize" value = "60"/>
		<property name="maxLifetime" value="28000"/>
		<property name="idleTimeout" value="28000"/>
		<property name="leakDetectionThreshold" value = "4000"/>
	</bean>

</beans>